@function base-color($opacity: 1) {
  @return rgba(234, 239, 235, $opacity);
}
@function background-color($opacity: 1) {
  @return rgba(36, 38, 67, $opacity);
}

@import 'graph';
@import 'cloud';

@font-face {
  font-family: 'Open Sans';
  src: font-url('open-sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: font-url('open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: font-url('open-sans-condensed/OpenSans-CondBold.ttf') format('truetype');
}

* {
  font-family: 'Open Sans', serif;
}

body {
  position: relative;
  margin: 0;
  padding-top: 45vw;

  font-weight: 300;

  background:
    image-url('data_lake.jpg') center top / 100% auto no-repeat,
    background-color();

  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;

  $hide-top-offset: -20vw;
  &.has-query {
    margin-top: $hide-top-offset;
    background-position: 0 $hide-top-offset;
  }
}

::-webkit-input-placeholder {
  color: inherit;
}

%show-only-with-query {
  display: none;
  .has-query & {
    display: inherit;
  }
}

.de-emphasize {
  color: rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5);
  stroke: rgba(255, 255, 255, 0.25);
}


h2 {
  color: $chart-title-color;
  font-size: 25px;
  margin: 0;
}

.graph-title {
  margin-bottom: 20px;
}

.page-header {
  margin: 0;
  position: absolute;
  top: 10vw;
  width: 100%;
  font-size: 25px;
  font-weight: inherit;
  text-align: center;
}

.logo {
  vertical-align: middle;
  margin: 0 8px;
}

.pivotal-logo-header {
  width: 120px;
  position: relative;
  top: -7px;
}

.pivotal-labs-logo-header {
  width: 280px;
  position: relative;
  top: -3px;
}

.query {
  position: absolute;
  top: 31vw;
  width: 100%;
  height: 77px;
  overflow: hidden;
  text-align: center;
  color: base-color();
  background-color: background-color(0);

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.query-input {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  text-align: center;
  font-size: 40px;
  color: base-color();
  &:focus {
    outline: 0;
  }
}

.info-text {
  @extend %show-only-with-query;
}

.help-text {
  display: none;
  .query-input:focus ~ & {
    display: inherit;
  }
}

.content {
  position: relative;
}

.graphs {
  @extend %show-only-with-query;
  padding: 0 25px 0 35px;
  min-height: 200vh;
  box-sizing: border-box;
  width: 80%;

  > article + article {
    margin-top: 40px;
  }
}

.drilldown {
  @extend %show-only-with-query;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  margin-top: -77px;
  padding-top: 77px;

  &.sticky {
    position: fixed;
    top: 77px;
    bottom: 0;
    overflow-y: auto;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li + li {
    margin-top: 10px;
  }

  color: base-color();
  font-size: 12px;

  .username {
    color: base-color(.5);

    &:before {
      content: '@';
    }
  }

  .text {
    margin-top: 2px;
    margin-bottom: 0;
    color: base-color(.8);
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  .drilldown-info {
    font-size: 14px;
  }

  .drilldown-overview {
    margin-bottom: 20px;
  }
}