@function base-color($opacity: 1) {
  @return rgba(234, 239, 217, $opacity);
}

@import 'graph';

@font-face {
  font-family: 'Open Sans';
  src: font-url('open-sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: font-url('open-sans-condensed/OpenSans-CondBold.ttf') format('truetype');
}

* {
  font-family: 'Open Sans', serif;
}

body {
  position: relative;
  padding-top: 45vw;

  font-weight: 300;
  background-color: #242643;
  background-image: image-url('data_lake.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;

  $hide-top-offset: -20vw;
  &.has-query {
    top: $hide-top-offset;
    background-position: 0 $hide-top-offset;
  }
}

::-webkit-input-placeholder {
  color: inherit;
}

%show-only-with-query {
  display: none;
  .has-query & {
    display: inherit;
  }
}

.de-emphasize {
  color: rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5);
  stroke: rgba(255, 255, 255, 0.25);
}

.page-header {
  margin: 0;
  position: absolute;
  top: 10vw;
  width: 100%;
  font-size: 25px;
  font-weight: inherit;
  text-align: center;
}

.logo {
  vertical-align: middle;
  margin: 0 8px;
}

.pivotal-logo-header {
  width: 120px;
  position: relative;
  top: -7px;
}

.pivotal-labs-logo-header {
  width: 280px;
  position: relative;
  top: -3px;
}

.query {
  position: absolute;
  top: 31vw;
  width: 100%;
  text-align: center;
  color: base-color();
}

.query-input {
  width: 100%;
  background: none;
  border: 0;
  text-align: center;
  font-size: 40px;
  color: base-color();
  &:focus {
    outline: 0;
  }
}

.info-text {
  @extend %show-only-with-query;
}

.help-text {
  display: none;
  .query-input:focus ~ & {
    display: inherit;
  }
}
.graphs {
  @extend %show-only-with-query;
  padding: 0 45px;
  min-height: 56vh;
  box-sizing: border-box;
  width: 80%;
}