.tag-cloud {
  fill: base-color();
  text-anchor: middle;
}

.adjectives .tag-cloud {
  opacity: .8;
}

.tag-cloud text {
  cursor: pointer;
  -webkit-user-select: none;
}

.cloud-tooltip.top {
  margin-top: 10px;
  font-size: 12px;
  .tweet-percentage {
    font-size: 25px;
    line-height: 1.3;
  }
}