.force {
  fill: base-color();
}

.link {
  stroke: base-color(.1);
  shape-rendering: auto;
}

.node {
  cursor: pointer;
}

$t1-color: #d33a34;
$t2-color: #6ac356;
$t3-color: #009bd5;
$t4-color: #9966cc;
$t5-color: #ffff55;
$t6-color: #ff8533;

.t1 {
  background-color: $t1-color;
  fill: $t1-color;
}

.t2 {
  background-color: $t2-color;
  fill: $t2-color;
}

.t3 {
  background-color: $t3-color;
  fill: $t3-color;
}

.t4 {
  background-color: $t4-color;
  fill: $t4-color;
}

.t5 {
  background-color: $t5-color;
  fill: $t5-color;
}

.t6 {
  background-color: $t6-color;
  fill: $t6-color;
}


.force-legend {
  .swatch {
    background-color: base-color();
    border-radius: 100px;
  }

  li {
    &:nth-child(1) .swatch { @extend .t1; }
    &:nth-child(2) .swatch { @extend .t2; }
    &:nth-child(3) .swatch { @extend .t3; }
    &:nth-child(4) .swatch { @extend .t4; }
    &:nth-child(5) .swatch { @extend .t5; }
    &:nth-child(6) .swatch { @extend .t6; }
  }
}

.force-tooltip {
  margin-left: 5px;
  margin-top: 2px;
  .tooltip-inner {
    @extend .fa;
    @extend .fa-twitter;
    &:before {
      color: #55acee;
      margin-right: 5px;
    }
  }
}

.topic-cluster {
  &[data-selected] {
    .t1, .t2, .t3, .t4, .t5, .t6 {
      opacity: 0.3;
    }
  }
  &[data-selected="1"] .t1, &[data-selected="2"] .t2, &[data-selected="3"] .t3, &[data-selected="4"] .t4, &[data-selected="5"] .t5, &[data-selected="6"] .t6 {
    opacity: 1;
  }
}

.topics-input {
  label, input {
    font-size: 12px;
    color: base-color(0.5);
  }

  input {
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .topics-number {
    border-bottom: 1px solid base-color(0.5);
    text-align: center;
    padding-left: 13px;
  }

  .topics-submit, .topics-reset {
    visibility: hidden;
  }

  .topics-number.changed {
    & ~ .topics-submit, & ~ .topics-reset {
      visibility: visible;
    }
  }
}