.link {
  stroke: base-color(.1);
  shape-rendering: auto;
}

.node {
  cursor: pointer;
}

$t1-color: #d33a34;
$t2-color: #6ac356;
$t3-color: #009bd5;

.t1 {
  background-color: $t1-color;
  fill: $t1-color;
}

.t2 {
  background-color: $t2-color;
  fill: $t2-color;
}

.t3 {
  background-color: $t3-color;
  fill: $t3-color;
}

.force-legend {
  .swatch {
    border-radius: 100px;
  }

  li {
    &:nth-child(1) .swatch { @extend .t1; }
    &:nth-child(2) .swatch { @extend .t2; }
    &:nth-child(3) .swatch { @extend .t3; }
  }
}

.force-tooltip {
  margin-left: 5px;
  margin-top: 2px;
  .tooltip-inner {
    @extend .fa;
    @extend .fa-twitter;
    &:before {
      color: #55acee;
      margin-right: 5px;
    }
  }
}

.topic-cluster {
  &[data-selected] {
    .t1, .t2, .t3 {
      opacity: 0.3;
    }
  }
  &[data-selected="1"] .t1, &[data-selected="2"] .t2, &[data-selected="3"] .t3 {
    opacity: 1;
  }
}