@import 'rickshaw';

$chart-axis-color: base-color(.4);
$chart-line-color: base-color(.3);
$chart-label-color: base-color(.5);
$chart-title-color: base-color(.8);

.rickshaw_graph {
  .y_ticks .tick,
  .x_ticks_d3 .tick {
    stroke: $chart-line-color;
    stroke-width: 1px;
  }

  .y_grid .tick {
    stroke: $chart-line-color;
    stroke-dasharray: none;
  }

  .x_grid_d3 .tick {
    stroke: none;
  }

  .y_ticks text,
  .x_ticks_d3 text {
    stroke: $chart-label-color;
    letter-spacing: 0.03em;
  }

  .detail .x_label {
    display: none;
  }

  .detail .item.active {
    background: transparent;
    border: 0;
  }

  .y_ticks path,
  .x_ticks_d3 path {
    fill: none;
    stroke: $chart-axis-color;
  }
}

line {
  shape-rendering: crispEdges;
}

.y-axis-left,
.y-axis-right {
  position: absolute;
  .domain {
    display: none;
  }
}

.y-axis-left {
  left: 0;
}

.y-axis-right {
  right: 0;
}

.graph-content {
  position: relative;
  padding: 0 40px;
}

.graphs .detail {
  background: transparent;

  .item {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    -webkit-transform: translate(-50%, -100%);
    left: 0;

    text-shadow: 2px 2px 5px background-color();
  }

  .item.right {
    right: inherit;
  }

  .item:after {
    display: none;
  }

  .dot {
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
  }

  .date, .tweets, .units {
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 1;
  }

  .tweets {
    font-family: "Open Sans Condensed";
    font-size: 50px;
  }
}

.graph {
  .y_grid ~ .y_grid {
    display: none;
  }
}