.cal-heatmap-container {
  display: block;
}

.domain-background {
  fill: none;
  shape-rendering: crispedges
}

.ch-tooltip {
  padding: 10px;
  background: #222;
  color: #bbb;
  font-size: 12px;
  line-height: 1.4;
  width: 140px;
  position: absolute;
  z-index: 99999;
  text-align: center;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: none;
  box-sizing: border-box;
}

.ch-tooltip::after {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  content: "";
  padding: 0;
  display: "block";
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: #222;
}

.heatmap-content {
  position: relative;

  .x-axis {
    margin: 0;
    padding: 0;
    color: base-color(.5);
    font-size: 11px;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 59px;
    box-sizing: border-box;
    margin-bottom: 3px;

    li {
      display: table-cell;
      text-align: center;
    }
  }

  .graph-label {
    font-size: 11px;
    fill: base-color(.5);
  }
}

.heatmap {
  position: relative;
}

.ch-tooltip {
  width: inherit;
  color: base-color(.9);
  font-size: 16px;
  padding-top: 5px;
  .percentage-chart {
    margin-top: 5px;
  }
}

.cal-heatmap-container {
  opacity: 0.8;
}

.graph, .graph-legend rect {
  shape-rendering: auto;
}

$q1-color: base-color(.1);
$q2-color: #606171;
$q3-color: #848583;
$q4-color: #a6a68c;
$q5-color: #c5c78d;
$q6-color: #e5e584;

.q1 {
  background-color: $q1-color;
  fill: $q1-color;
}

.q2 {
  background-color: $q2-color;
  fill: $q2-color;
}

.q3 {
  background-color: $q3-color;
  fill: $q3-color;
}

.q4 {
  background-color: $q4-color;
  fill: $q4-color;
}

.q5 {
  background-color: $q5-color;
  fill: $q5-color;
}

.q6 {
  background-color: $q6-color;
  fill: $q6-color;
}

.heatmap-legend {
  margin: 13px 0 0 60px;

  li {
    &:nth-child(1) .swatch { @extend .q1; }
    &:nth-child(2) .swatch { @extend .q2; }
    &:nth-child(3) .swatch { @extend .q3; }
    &:nth-child(4) .swatch { @extend .q4; }
    &:nth-child(5) .swatch { @extend .q5; }
    &:nth-child(6) .swatch { @extend .q6; }
  }
}