.cal-heatmap-container {
  display: block;
}

.domain-background {
  fill: none;
  shape-rendering: crispedges
}

.ch-tooltip {
  padding: 10px;
  background: #222;
  color: #bbb;
  font-size: 12px;
  line-height: 1.4;
  width: 140px;
  position: absolute;
  z-index: 99999;
  text-align: center;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: none;
  box-sizing: border-box;
}

.ch-tooltip::after {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  content: "";
  padding: 0;
  display: "block";
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: #222;
}

.heatmap-content {
  position: relative;

  .x-axis {
    margin: 0;
    padding: 0;
    color: base-color(.5);
    font-size: 11px;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-left: 59px;
    box-sizing: border-box;
    margin-bottom: 3px;

    li {
      display: table-cell;
      text-align: center;
    }
  }

  .graph-label {
    font-size: 11px;
    fill: base-color(.5);
  }
}

.heatmap {
  position: relative;
}

.ch-tooltip {
  width: inherit;
}

.cal-heatmap-container {
  opacity: 0.8;
}

.graph, .graph-legend rect {
  shape-rendering: auto;
}

.q1 {
  background-color: base-color(.1);
  fill: base-color(.1);
}

.q2 {
  background-color: #dae289;
  fill: #dae289;
}

.q3 {
  background-color: #9cc069;
  fill: #9cc069;
}

.q4 {
  background-color: #669d45;
  fill: #669d45;
}

.q5 {
  background-color: #637939;
  fill: #637939;
}

.q6 {
  background-color: #3b6427;
  fill: #3b6427;
}

.heatmap-legend {
  padding: 0;
  margin: 13px 0 0 60px;
  list-style: none;

  li {
    display: inline-block;
    color: base-color(.5);
    font-size: 11px;
    margin-right: 10px;

    &:nth-child(1) .swatch { @extend .q1; }
    &:nth-child(2) .swatch { @extend .q2; }
    &:nth-child(3) .swatch { @extend .q3; }
    &:nth-child(4) .swatch { @extend .q4; }
    &:nth-child(5) .swatch { @extend .q5; }
    &:nth-child(6) .swatch { @extend .q6; }

    > * {
      vertical-align: middle;
    }

    .swatch {
      display: inline-block;
      width: 11px;
      height: 11px;
    }
  }
}