<h1 class='page-header'>
  Created by
  <%= image_tag 'pivotal.png', class: 'logo pivotal-logo-header', alt: 'Pivotal' %>
  Data Labs and
  <%= image_tag 'pivotal_labs.png', class: 'logo pivotal-labs-logo-header', alt: 'Pivotal Labs' %>
</h1>