<h1 class='page-header'>
  Created by
  <%= image_tag 'pivotal_data_labs.png', class: 'logo pivotal-data-labs-logo-header', alt: 'Pivotal' %>
  and
  <%= image_tag 'pivotal_labs.png', class: 'logo pivotal-labs-logo-header', alt: 'Pivotal Labs' %>
</h1>

<form class="query" onsubmit="event.preventDefault()">
  <input class="query-input" name="query" placeholder="Type to search" autocomplete="off">
  <span class="de-emphasize help-text">Press enter when done</span>
  <span class="de-emphasize info-text">Tweets from July 1 - 31 of 2013</span>
</form>

<div class="content">
  <section class="graphs">
    <article class="total-tweets time-series">
      <h2 class="graph-title">Total Tweets</h2>
      <div class="graph-content"></div>
    </article>

    <article class="sentiment time-series">
      <h2 class="graph-title">Sentiment Mapping</h2>
      <p class="graph-subtitle">This chart is based on a subset (about 40%) of the tweets from July 1 to July 31 2013, that have been rated positive, negative or neutral.</p>
      <div class="graph-content"></div>
    </article>

    <article class="tweet-activity">
      <h2 class="graph-title">Tweet Activity</h2>
      <p class="graph-subtitle">This chart is based on a subset (about 40%) of the tweets from July 1 to July 31 2013, that have been rated positive, negative or neutral.</p>
      <div class="heatmap-content"></div>
    </article>

    <article class="adjectives">
      <h2 class="graph-title">Adjectives Tag Cloud</h2>
      <p class="graph-subtitle">This chart is based on a subset (about 40%) of the tweets from July 1 to July 31 2013, that have been rated positive, negative or neutral.</p>
      <div class="tag-cloud"></div>
    </article>

    <article class="topic-cluster">
      <h2 class="graph-title">Topic Cluster</h2>
      <p class="graph-subtitle">This chart is based on a subset of the tweets from July 1 to July 31 2013 and displays the top 200 tweets.</p>
      <div class="force"></div><!--
      --><div class="tag-cloud"></div>
    </article>
  </section>

  <section class="drilldown">
    <div class="drilldown-content"></div>
  </section>

  <footer class="page-footer">
    Created by
    <%= image_tag 'pivotal_data_labs.png', class: 'logo pivotal-data-labs-logo-footer', alt: 'Pivotal' %>
    and
    <%= image_tag 'pivotal_labs_alt.png', class: 'logo pivotal-labs-logo-footer', alt: 'Pivotal Labs' %>
  </footer>
</div>