<h1 class='page-header'>
  Created by
  <%= image_tag 'pivotal.png', class: 'logo pivotal-logo-header', alt: 'Pivotal' %>
  Data Labs and
  <%= image_tag 'pivotal_labs.png', class: 'logo pivotal-labs-logo-header', alt: 'Pivotal Labs' %>
</h1>

<form class="query" onsubmit="event.preventDefault()">
  <input class="query-input" name="query" placeholder="Type to search" autocomplete="off">
  <span class="de-emphasize help-text">Press enter when done</span>
  <span class="de-emphasize info-text">Tweets from June 30 - July 31 of 2013</span>
</form>

<div class="content">
  <section class="graphs">
    <article class="total-tweets time-series">
      <h2 class="graph-title">Total tweets</h2>
      <div class="graph-content"></div>
    </article>

    <article class="sentiment time-series">
      <h2 class="graph-title">Sentiment Mapping</h2>
      <div class="graph-content"></div>
    </article>

    <article class="tweet-activity">
      <h2 class="graph-title">Tweet Activity</h2>
      <div class="heatmap-content"></div>
    </article>

    <article class="adjectives">
      <h2 class="graph-title">Adjectives Tag Cloud</h2>
      <div class="tag-cloud"></div>
    </article>

    <article class="topic-cluster">
      <h2 class="graph-title">Topic Cluster</h2>
      <div class="force"></div>
    </article>
  </section>

  <section class="drilldown">
    <h2>Top 20 tweets:</h2>
    <div class="drilldown-content"></div>
  </section>
</div>
