<svg width="100%" height="400"></svg>
<ul class="graph-legend force-legend">
  {{#topics}}
    <li><span class="swatch"></span> <span>{{.}} tweets</span></li>
  {{/topics}}
</ul>
<form class="topics-input" onsubmit="event.preventDefault()">
  <label for="topics-number">Number of topics:</label>
  <input id="topics-number" class="topics-number" type="number" min="1" max="6" step="1" name="topics" value="{{topics.length}}" data-type="number">
  <input class="topics-submit" type="submit" value="Submit">
  <input class="topics-reset" type="reset" value="Reset">
</form>
