<div class='drilldown-overview'>
  <div class="de-emphasize drilldown-info">June 30 - July 31, 2013</div>
  <div class="de-emphasize drilldown-info">{{totalTweets}} Total Tweets </div>
</div>
<ol>
  {{#tweets}}
    <li>
      <span class="username">{{username}}</span>
      <p class="text">{{text}}</p>
    </li>
  {{/tweets}}
</ol>