<h2>Top 20 tweets:</h2>
<ol>
  {{#tweets}}
    <li>
      <span class="display-name">{{display_name}}</span>
      <span class="username">{{username}}</span>
      <p class="text">{{text}}</p>
    </li>
  {{/tweets}}
</ol>