@font-face {
  font-family: 'Open Sans';
  src: font-url('open-sans/OpenSans-Light.ttf') format('truetype');
}

body {
  font-family: 'Open Sans', serif;
  font-weight: 300;

  background-color: #242742;
  background-image: image-url('data_lake.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.page-header {
  font-size: 25px;
  font-weight: inherit;
  text-align: center;
  position: absolute;
  top: 10vw;
  width: 100%;
}

.logo {
  vertical-align: middle;
  margin: 0 8px;
}

.pivotal-logo-header {
  width: 120px;
  position: relative;
  top: -7px;
}

.pivotal-labs-logo-header {
  width: 280px;
  position: relative;
  top: -3px;
}