<!DOCTYPE html>
<html>
  <head>
    <title>Tasa</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <p class="fa fa-twitter" style="visibility:hidden; font-family:'Open Sans Condensed'">Greg and Cobb</p>
  </body>
</html>
